p{
    color: #000;
}

li{
   font-size: 15pt;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
}

html{
    background-color: yellow;
    margin-left: 30px;
}

#limaster{
    color:gray;
    font-style: oblique;
}

#litamara{
    color: blue;
}

.liclass{
    font-size: 15pt;
    list-style-type: square;
}

.liclass:hover{
    color: white;
}

a:active{
    color: white;
}


