body{
margin:0;
font-family:Arial;
background:#f5f5f5;
}

/* MENU */

.menu{
background:#0f172a;
padding:15px;
}

.menu a{
color:white;
margin-right:20px;
text-decoration:none;
}

.menu a:hover{
color:#38bdf8;
}

/* CONTAINER */

.container{
padding:20px;
}

/* CARDS */

.card{
background:white;
padding:15px;
width:250px;
display:inline-block;
margin:10px;
border-radius:10px;
box-shadow:0px 2px 5px gray;
}

.card h3{
margin:0;
}

.preco{
color:green;
font-weight:bold;
}

/* BOTÃO */

button{
background:#0f172a;
color:white;
border:none;
padding:8px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#22c55e;
}

/* PERFIL */

.perfil{
text-align:center;
}

.perfil img{
width:120px;
border-radius:50%;
}

/* FORM */

.form-box{
background:white;
padding:20px;
width:400px;
border-radius:10px;
}

input, textarea, select{
width:100%;
margin-top:5px;
margin-bottom:10px;
padding:8px;
}
