#h0{
    color: blue;
    text-align: center;
}
body{
    background-color: grey;
}
.divcor{
    
    padding-left: 20px;
   padding-bottom:20px ;
    background-color: white;
}
#h0:hover{
    text-align: center;
    color: burlywood;
}
.ul{
    color: chartreuse;
}
table{
    width: 100%;
}
.hea{
    color: whitesmoke;
    background-color: darkslategray;
}
.ra:hover{

    background-color: darkgray;
}
#cr{
    color: white;
    background-color: darkblue;
}
.ta:hover{
    color: darkgoldenrod;
    
}
select{
    width: 100%;
}

.cl{
    width: 150%;
}

#btnc{
   color: white;
   width: 100%;
   text-align: center;
    background-color: darkblue;

}
#btnc:hover{
   background-color: darkgreen;
}
.inputstyle{
    width: 100%;
    margin-bottom: 5px;
    
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{

    border: 1px solid;
   width: 100px;
}