
cc{
  font-family: Arial, Helvetica, sans-serif;
}
  center {
   color: darkblue;
   
  }

  #rc{
    color: whitesmoke;
    background-color: darkgreen;
  }
  
  .rt:hover{
    color: darkgreen;
    font: weight 300x; ;
  }
  #bv{
    color: blue;
  }
  #bi{
    color: blue;
  }
  #ba{
    color: blue;
  }
  tr:hover{
  color: chartreuse;
  }
  #tt{
    width: 1000%;
  }
  #ra{
    width: 1000%;
  }
  table{
    width: 100%;
  }
  .fl{
    background-color: blue;
   color: whitesmoke; 
  }